

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:16px;
	right:15px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


/* Navbar */


#nav-h-{

font-weight: bold;

}

#nav-h-:hover{

background-color:rgb(206, 206, 206);
border-radius: 12px;


}


#narbar-{

padding-left: 80px;
padding-right: 80px;

}

#titulo-navbar-{

    font-weight: bold;
    font-size: 29px;
    

}

#ul-navbar-{

margin: auto;
font-weight: bold;
font-size: 23px;
}


#btn-toggle-{

    border: none;
    box-shadow: none;

}


.fondo-blue{

    background-color: rgb(18 101 224);
    width: 100%;
    margin: auto;

}

@media screen and (min-width: 200px) and (max-width: 600px){


    #narbar-{

        padding-left: 0px;
        padding-right: 0px;
        
        }



        #titulo-navbar-{

            margin: auto;
            font-size: 29px;
        
        }


        .social-bar{
display: none;

        }




}

/* Navbar */




/* Home */






/* home section styling */


.p-imc-{

    color: #495057; text-align: justify; font-size: 20px; width: 74%; text-align: justify; margin: auto;

}

section{
    padding: 20px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 67px;
    margin: auto;
}


.home{
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    height: 80vh;
    color: black;
    font-weight: bold;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
  
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 69px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #ffc107;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background-color: #ffc107;
    color: black;
font-weight: bold;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 3px solid #ffc107;
    transition: all 0.3s ease;


}

.home .home-content a:hover{
    color: #ffc107;
    background: none;

}

.template-grid-{

   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;

}

.somos-{

    width: 100%;
    
    }
    
    
    .cont-somos-{
    
    padding: 70px;
    
    }

    .cont-somos- h1{

        font-weight: bold; color: black; text-align: center; font-size: 50px;
    }


.mapa-{

padding: 70px;

}

    .mapa- h1{


        font-weight: bold; color: black; text-align: center; font-size: 50px;

    }


    .til-col-{
        font-weight: bold; color: black;  font-size: 45px;

    }


    .mapa- iframe{

        width: 90%;
        height: 450px;
        border-radius: 5px;
        
        
        }

        #img-fondo-img-{

margin: auto;

        }



@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar_top .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        
        text-align: center;
        padding-top: 80px;
        background: black;
        backdrop-filter: blur(3px);
        background-color: rgba(11, 11, 11, 0.9);
        transition: all 0.3s ease;
    }
    .navbar_top .menu.active{
        left: 0;
    }
    .navbar_top .menu li{
        display: block;
    }
    .navbar_top .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }






}




@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }




}

@media (max-width: 600px) {
    .home .home-content .text-2{
        font-size: 42px;
     
    }
    .home .home-content .text-3{
        font-size: 27px;
    }

 
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }



    .home{

            background-image: url(imagenes_page/imagenes_index/home_mobile6.jpg);
        background-size: cover;

    }


}



.grid-home-{

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2px;

}

.home-left{

    width: 100%;
    background-size: cover;
    background-position: center;

}


.home-right{

    width: 100%;
    background-size: cover;
    background-position: center;
background-image: url(/recursos/imagenes/2\ \(1\).svg);
 
}


@media screen and (min-width: 200px) and (max-width: 900px){



    .grid-home-{
      
      
        grid-template-columns: repeat(1, 1fr);
    

    }


    .home-texto-right{

        height: auto;
        background-image: url(/recursos/imagenes/2\ \(1\).svg);
 
    
    }
    


.home{

    text-align: center;
    height: 75vh;



}


 
.p-imc-{

    color: #495057; text-align: justify; font-size: 20px; width: 90%; text-align: justify; margin: auto;

}



}


.home .max-width{

display: block;

}

.cont-somos-{

    padding: 20px;
    
    }


    .cont-somos- h1{

        font-weight: bold; color: black; text-align: center; font-size: 36px;
    }


    
.mapa-{

    padding: 5px;
    padding-top: 42px;
    
    }
    
        .mapa- h1{
    
    
            font-weight: bold; color: black; text-align: center; font-size: 29px;
    
        }
    
        #img-fondo-img-{

 
      width: 100%;
            
                    }
            
                   





/* Home */


