img {
    height: auto;
    max-width: 100%;
}

.beige{
    color: beige;
    background-color: black;
    font-weight: 800;
}

.rojo {
    color: red;
    background-color: black;
    font-weight: 800;
}

.blanco{
    color: white;
    background-color: black;
    font-weight: 800;
}

.amarillo{
    color: yellow;
    background-color: black;
    font-weight: 800;
}

.verde{
        color: lawngreen;
    background-color: black;
    font-weight: 800;

}

.naranja{
        color: orange;
    background-color: black;
    font-weight: 800;

}
