

.home-col{

margin-top: 10px;
margin: auto;
text-align: center;
padding: 60px;
width: 100%;
height: auto;

}


.home-col p{

width: 65%;
margin: auto;

}

.colegio-secciones-{

    width: 85%;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
row-gap: 20px;


}


#til-card{

font-weight: bold;

}

#til-card:hover{

text-decoration: underline 3px;

}


#img-home-col{

color: transparent;

}


.noticas-contenido-{

width: 100%;
margin: auto;
margin-top: 20px;

}


.video-alternancia{

width: 100%;
height: auto;
margin: auto;
}


.video-alternancia iframe{

margin: auto;
width: 85%;
height: 600px;

}



.cmapus-fotos{
margin-top: 50px;
width: 88%;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 5px;
row-gap: 5px;


}

.item{

width: 100%;
background-image: url(../imagenes/campus1.jpg);
background-size: cover;
height: 50vh;

}

.item:hover{

    box-shadow: 0 1rem 3rem rgb(0 0 0 / 70%) !important;

}



@media screen and (min-width: 200px) and (max-width: 700px){


    .home-col p{

        width: 100%;
        margin: auto;
        
        }

        .colegio-secciones-{

            grid-template-columns: repeat(1, 1fr);
width: 90%;

        }
        

        #img-home-col{

            display: none;
            
            }


            .video-alternancia iframe{

                margin: auto;
                width: 95%;
                height: 500px;
       border-radius: 12px;
                
                }

                .cmapus-fotos{
               
                    grid-template-columns: repeat(1, 1fr);
                 
                    
                    
                    }
                    
                

}